.driver {
  $root: &;

  &-title {
    font-size: $h3;
    font-weight: 500;
    margin-bottom: 3.5vw;
  }

  &-form {
    width: 70vw;
    height: auto;
    @include row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}
