.file-picker::-webkit-file-upload-button {
  visibility: hidden;
}
.file-picker::before {
  content: "Upload File";
  display: inline-block;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  border-right: 1px solid;
}
.file-picker:hover::before {
  border-color: black;
}
.file-picker:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
