.file-picker {
  width: 520px !important;
  padding-top: 5px;
}
.file-picker::-webkit-file-upload-button {
  visibility: hidden;
}
.file-picker::before {
  content: "Upload File";
  display: inline-block;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  padding-right: 1vw;
  border-right: 1px solid $color-smooth;
}
.file-picker:hover::before {
  border-color: $color-teal;
}
.file-picker:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}