.file-picker {
  min-width: 300px !important;
  width: 305px !important;
  max-width: 520px !important;
  padding-top: 5px;
  margin-right: 6.5px;
}
.file-picker::-webkit-file-upload-button {
  visibility: hidden;
}
.file-picker::before {
  content: 'Upload';
  display: inline-block;
  color: $color-gray;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  margin-right: -3.5vw;
  cursor: pointer;
}
.file-picker:hover::before {
  border-color: $color-teal;
}
.file-picker:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
