.home {
  $root: &;

  height: 100vh;
  background: $color-bg;

  padding-left: 13.5vw;  //` Start off everything beside Drawer

  &-shift {
    padding-left: 4vw;
    padding-top: 2vw;
    height: 100vh;
  }

}