.layout {
  $root: &;

  &-title {
    @include row;
    font-size: $h2;
    align-items: center;
    font-weight: 500;
    margin-bottom: 3.5vw;
  }

  &-sub-title {
    font-size: $h3;
    font-weight: 500;
    margin-bottom: 0.5vw;
    color: $color-text;
  }

  &-sub-small {
   font-size: $h3;
    font-weight: 900;
    margin-bottom: 0.5vw;
    color: $color-active;
  }

  &-back {
    z-index: 100000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 1.5vw;
    width: 2.5vw;
    height: 2.5vw;
  }

  &-form {
    width: 100%;
    height: auto;
    @include row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  &-edit-row {
    width: 97%;
    height: auto;
    @include row;
    justify-content: space-between;
    margin-top: 1vw;
  }

  &-not-student {
    width: 96%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1.5vw;
  }

  &-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &-item {
      width: 50%;
      display: flex;
      flex: 1;
      flex-direction: column;
    }
  }
}
