.table-report {
  table {
    width: 95% !important;
    table-layout: auto !important;
    border-collapse: collapse !important;
    padding: 1vw !important;
    font-size: 1vw !important;
    background: #fff !important;
    margin-bottom: 3vw !important;
  }
  
  table thead tr {
    background-color: #009879 !important;
    color: #ffffff !important;  
    text-align: left !important;
    border: 1px solid #ecf0f3 !important;
  }
  
  table th,
  table td {
    padding: 1vw !important;    
    border: 1px solid #ecf0f3 !important;
  }
  
  table tbody tr {
    border-bottom: 1px solid #dddddd !important;    
  }
  
  table tbody tr:last-of-type {
    border-bottom: 2px solid #009879 !important;  
  }
  
  table tbody tr.active-row {
  
    border: 1px solid #ecf0f3 !important;
  }
  
}