.MuiTableRow-root:hover {
  background: rgba(242, 242, 242, 0.4) !important;
}
.MuiTypography-root,
.MuiButtonBase-root,
.MuiTableSortLabel-root {
  font-family: Gilroy, sans-serif !important;
}
.MuiPaper-elevation2 {
  // filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.025)) !important;
  border: 2px solid $color-muted !important;
  box-shadow: none !important;
}
.MuiInput-underline:after {
  border-bottom: 2px solid $color-teal !important;
}
.MuiTableCell-root {
  min-width: 10vw !important;
  max-width: 20vw !important;
  white-space: normal !important;
  word-wrap: break-word !important;
}
.mat-table {
  overflow-x: scroll;
}

.mat-cell,
.mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  padding: 0px 10px;
  line-break: unset;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}

.mat-row,
.mat-header-row {
  display: table-row;
}
